
div#menu__content {
    margin-top: 15%;
}

div#menu__header {
    border: none;
}

a.menu__link {
    color: white;
}

.close {
    font-size: 40px;
    font-weight: lighter;
    position: absolute;
    color: #FFFFFF;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

#apply_now {
    margin-right: 15px;
}

ul.nav.navbar-nav.navbar-left,
ul.nav.navbar-nav.navbar-right {
    padding-top: 19px;
}

.show {
    display: block;
}

.hide {
    display: block;
}
