<<<<<<< HEAD
@import "variable.less"; // Variable.less




.datamap-sales-hover-tooltip{
    background: @dark;
    font-family: @mol;
    padding: 5px 10px;
    color: @white;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 3px;
}


























































=======
@import "variable.less"; // Variable.less




.datamap-sales-hover-tooltip{
    background: @dark;
    font-family: @mol;
    padding: 5px 10px;
    color: @white;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 3px;
}


























































>>>>>>> e016ecb9c3d9bdd8e623c96440be9a414f26af86
