<<<<<<< HEAD
/*  transitions
------------------*/
.t5s{
     -webkit-transition: all 0.5s ease-in-out 0s;
	  -moz-transition: all 0.5s ease-in-out 0s;
	  -o-transition: all 0.5s ease-in-out 0s;
	  -ms-transition: all 0.5s ease-in-out 0s;
	  transition: all 0.5s ease-in-out 0s;
}

=======
/*  transitions
------------------*/
.t5s{
     -webkit-transition: all 0.5s ease-in-out 0s;
	  -moz-transition: all 0.5s ease-in-out 0s;
	  -o-transition: all 0.5s ease-in-out 0s;
	  -ms-transition: all 0.5s ease-in-out 0s;
	  transition: all 0.5s ease-in-out 0s;
}

>>>>>>> e016ecb9c3d9bdd8e623c96440be9a414f26af86
